/**
 * Source: https://github.com/picturepan2/spectre/blob/0.5.10/src/_base.scss
 */

.baseline {
  // composes: baseline from global;

  /**
   * 1. Change the default font family in all browsers (opinionated).
   * 2. Correct the line height in all browsers.
   * 3. Prevent adjustments of font size after orientation changes in
   *    IE on Windows Phone and in iOS.
   */

  /* Document
   ========================================================================== */

  & {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 3 */
    -webkit-text-size-adjust: 100%; /* 3 */
  }

  /* Sections
     ========================================================================== */

  /**
   * Remove the margin in all browsers (opinionated).
   */
  &:not(html),
  body {
    margin: 0;
  }

  @import 'normalize';

  // Base
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    background-repeat: no-repeat;
  }

  /* Pseudo-elements inherit text decoration and vertical alignment */
  ::before,
  ::after {
    text-decoration: inherit;
    vertical-align: inherit;
  }

  /**
   * 1. Correct the line height in all browsers.
   * 2. Prevent adjustments of font size after orientation changes in iOS.
   */
  & {
    box-sizing: border-box;
    font-size: $html-font-size;
    line-height: $html-line-height;
    -webkit-tap-highlight-color: transparent;
  }

  &:not(html),
  body {
    background: $body-bg;
    color: $body-font-color;
    // -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, sans-serif;
    // -apple-system, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica Neue;
    font-family: $body-font-family;
    font-size: $font-size;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
  }

  a {
    color: $link-color;
    outline: none;
    text-decoration: none;

    &:focus {
      @include control-shadow();
    }

    &:focus,
    &:hover,
    &:active,
    &.active {
      color: $link-color-dark;
      text-decoration: underline;
    }

    &:visited {
      color: $link-color-light;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
      animation-delay: -1ms !important;
      animation-duration: 1ms !important;
      animation-iteration-count: 1 !important;
      background-attachment: initial !important;
      scroll-behavior: auto !important;
      transition-delay: 0s !important;
      transition-duration: 0s !important;
    }
  }

  /* SVGs fallback to the current text color */
  svg:not([fill]) {
    fill: currentColor;
  }

  /* Tables do not include additional border spacing */
  table {
    border-collapse: collapse;
  }

  /* Single taps are dispatched immediately on clickable elements */
  a,
  area,
  button,
  input,
  label,
  select,
  summary,
  textarea,
  [tabindex] {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
  }

  /* ARIA roles include visual cursor hints */
  [aria-busy='true'] {
    cursor: progress;
  }

  [aria-controls] {
    cursor: pointer;
  }

  [aria-disabled='true'],
  [disabled] {
    cursor: default;
  }

  /* Visually hidden content remains accessible */
  [aria-hidden='false'][hidden] {
    display: initial;
  }

  [aria-hidden='false'][hidden]:not(:focus) {
    clip: rect(0, 0, 0, 0);
    position: absolute;
  }

  /* https://github.com/WICG/inert */
  [inert] {
    pointer-events: none;
    cursor: default;
  }

  [inert],
  [inert] * {
    user-select: none;
  }
}
