/**
 * Source: https://github.com/picturepan2/spectre/blob/0.5.10/src/_cards.scss
 */

.card {
  // composes: card from global;
  background: $bg-color-light;
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
}

.card-shadow {
  // composes: card-shadow from global;
  @include shadow-variant(0.1rem);
  border: 0;
}

.card-header,
.card-body,
.card-footer {
  padding: $layout-spacing-lg;
  padding-bottom: 0;

  &:last-child {
    padding-bottom: $layout-spacing-lg;
  }
}

.card-header {
  // composes: card-header from global;
}

.card-body {
  // composes: card-body from global;
  flex: 1 1 auto;
}

.card-footer {
  // composes: card-footer from global;
}

.card-image {
  // composes: card-image from global;
  padding-top: $layout-spacing-lg;

  &:first-child {
    padding-top: 0;

    img {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
  }

  &:last-child {
    img {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }
}
