// Empty states (or Blank slates)
.empty {
  box-sizing: border-box;
  background: $bg-color;
  border-radius: $border-radius;
  color: $gray-color-dark;
  text-align: center;
  padding: $unit-16 $unit-8;
}

.empty-icon {
  box-sizing: border-box;
  margin-bottom: $layout-spacing-lg;
}

.empty-title,
.empty-subtitle {
  box-sizing: border-box;
  margin: $layout-spacing auto;
}

.empty-action {
  box-sizing: border-box;
  margin-top: $layout-spacing-lg;
}
