/**
 * Source: https://github.com/picturepan2/spectre/blob/0.5.10/src/_forms.scss
 */
@import 'spectre.css/src/forms';

.baseline,
.form {
  fieldset {
    margin-bottom: $layout-spacing-lg;
  }
}

.baseline,
.form {
  input {
    &:disabled,
    &.disabled {
      & + .form-icon {
        background: $bg-color-dark;
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
  }
}

// #TODO: Fix checkbox and radio buttons (missing calculations!)
.form-checkbox {
  input {
    &:checked + .form-icon {
      &::before {
        height: 66%;
        width: 33%;
        left: 50%;
        margin-left: 0;
        margin-top: 0;
        top: 40%;
        transform: translate(-50%,-50%) rotate(45deg);
      }
    }
  }
}

// #TODO: fix inconsistent radio buttons
.form-radio input:checked+.form-icon::before {
  height: 50%;
  width: 50%;
  min-height: 7px;
  min-width: 6px;
}
